/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "tinyboard_nrf54l15-pinctrl.dtsi"

/ {
	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm20 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio1 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button 0";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		pwm-led0 = &pwm_led0;
		sw0 = &button0;
		watchdog0 = &wdt31;
	};

	peripheral_lsw: peripheral-load-switch {
		compatible = "regulator-fixed";
		regulator-name = "Peripheral LSW";
		enable-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
		regulator-boot-on;
	};
};


dmic_dev: &pdm20 {
	status = "okay";
	pinctrl-0 = <&pdm20_default>;
	pinctrl-1 = <&pdm20_sleep>;
	pinctrl-names = "default", "sleep";
	clock-source = "PCLK32M_HFXO";
};

&uart20 {
	current-speed = <115200>;
	pinctrl-0 = <&uart20_default>;
	pinctrl-1 = <&uart20_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c21 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c21_default>;
	pinctrl-1 = <&i2c21_sleep>;
	pinctrl-names = "default", "sleep";

	adxl366: adxl366@1d {
		compatible = "adi,adxl367";
		reg = <0x1d>;
		odr = <5>;
		int1-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
	};
};

&pwm20 {
	status = "okay";
	pinctrl-0 = <&pwm20_default>;
	pinctrl-1 = <&pwm20_sleep>;
	pinctrl-names = "default", "sleep";
};
